11g/bpel/mediadores/LogProcessor_Example3_dynamic_routes/JDeveloper/DynamicReference_MediatorDynamicRules_execute.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="DynamicReference_MediatorDynamicRules_execute"
     targetNamespace="http://xmlns.oracle.com/MediatorExamplesGithubApplication/LogProcessor_Example3_dynamic_routes/DynamicReference_MediatorDynamicRules_execute"
     xmlns:inp2="http://xmlns.oracle.com/singleString"
     xmlns:tns="http://xmlns.oracle.com/MediatorExamplesGithubApplication/LogProcessor_Example3_dynamic_routes/DynamicReference_MediatorDynamicRules_execute"
     xmlns:inp1="http://www.example.org/LogWebservice"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org/LogWebservice" schemaLocation="xsd/LogWebservice.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/singleString" schemaLocation="xsd/singleString.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="callback" element="inp2:singleString"/>
    </wsdl:message>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:log"/>
    </wsdl:message>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_ptt_binding" type="tns:execute_ptt">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://xmlns.oracle.com/MediatorExamplesGithubApplication/LogProcessor_Example3_dynamic_routes/DynamicReference_MediatorDynamicRules_execute"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="dynamic">
        <wsdl:port name="execute_ptt" binding="tns:execute_ptt_binding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://www.dummy.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
